.album-details-hero-container {
  width: 100%;
  height: 461px;
  padding: 24px 85px;
  /* background-color: aliceblue; */
}

.back-button {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.album-details-hero {
  width: 1048px;
  height: 329px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.a-d-h-image {
  width: 288px;
  height: 329px;
  border-radius: 20px;
}

.a-d-h-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.a-d-h-text {
  width: 700px;
  height: 279px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: space-between;
  align-items: flex-start;
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: #ffffff;
}

.a-d-h-album-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 48%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.a-d-h-album-title {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}

.a-d-h-album-description {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.a-d-h-album-year {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.a-d-h-album-buttons {
  display: flex;
  gap: 16px;
}
.a-d-h-album-button-left {
  width: 131px;
  height: 46px;
  padding: 10px 17px 10px 17px;
  border-radius: 12px;
  background-color: #34c94b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.a-d-h-album-button-left span {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #ffffff;
}

.a-d-h-album-button-right {
  color: #34c94b;
  padding: 10px 17px 10px 17px;
  width: 207px;
  height: 47px;
  border-radius: 12px;
  border: 1px solid #34c94b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.a-d-h-album-button-right span {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.25px;
  color: #34c94b;
}
