.search-results-container-container {
  width: 773px;
  max-height: 455px;
  background-color: #121212;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #34c94b;
  padding: 20px 0;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 24px;
  transform: translateX(-50%);
  opacity: 90%;
}

.search-results-container {
  width: 763px;
  max-height: 400px;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  overflow-y: scroll;
}

.search-results-container::-webkit-scrollbar {
  display: none;
}

.search-results-container h4 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
