.card-container {
  height: 232px;
  width: 174px;
  background-color: #121212;
  cursor: pointer;
}
.card-content {
  height: 205px;
  width: 174px;
  background-color: #121212;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-image {
  width: 174px;
  height: 170px;
  border-radius: 10px 10px 0px 0px;
  background-color: brown;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-middle {
  height: 35px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  border-radius: 0 0 10px 10px;
}
.card-followers {
  width: 65px;
  height: 23px;
  border-radius: 10px;
  background-color: #121212;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer {
  display: flex;
  align-items: center;
  height: 27px;
}
.card-footer span {
  height: 21px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}
