.hero-section-container {
  width: 100%;
  height: 270px;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  width: 799px;
  height: 212px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  width: 556px;
  height: 100px;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}

.hero-image {
  width: 212px;
  height: 212px;
}
