.faq-container {
  width: 1135px;
  min-height: 345px;
  border-radius: 0px 0px 10px 10px;
  margin: 20px auto;
}
.faq-container header {
  width: 129px;
  height: 75px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.faq-container header span {
  font-family: "Poppins";
  font-size: 50px;
  font-weight: 600;
  line-height: 75px;
  color: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.accordion-faq-container {
  margin-top: 16px;
}

.acc-details-container {
  height: 65px !important;
  display: flex;
  align-items: center;
}
.acc-details {
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0px;
  color: #121212;
}

#panel1a-header,
#panel2a-header {
  height: 70px !important;
  border-radius: 10px !important;
  color: #ffffff !important;
  background-color: #121212 !important;
  border: 1px solid #ffffff !important;
}

.MuiTypography-root {
  font-family: "Poppins" !important;
  font-size: 19px !important;
  font-weight: 500 !important;
  line-height: 30px !important;
  letter-spacing: 0px !important;
  color: #ffffff;
}

.accordion-faq-container {
  border-radius: 10px !important;
}

.MuiSvgIcon-root {
  color: #34c94b;
  font-size: 40px !important;
  font-weight: 900 !important;
  line-height: 40px !important;
}

.margin-fix {
  margin-bottom: 10%;
}
